@(message: String)
@main("COMET") {
<script type="text/javascript"> 
	  var cometMessage = function(event) {  
	    console.log('Received event: ' + event)
	    $("#container").append("<li><a href='#'>" + event + "</a></li>") 
	  }
</script>
<div class="hero-unit">
  <h1>Current Orders</h1>
  <p>Prepare them all!</p>
</div>
	<iframe style="display:none" id="messages" 
      src="@routes.Application.liveUpdate.unique"></iframe> 
    <ul id="container" style=" text-align:center" class="nav nav-tabs nav-stacked"></ul>

}